.h1Site{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--white);
}

.sitemap-container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--navy);
}

ul {
    list-style: none;
    padding: 0;
}

.Enlaces {
    display: block;
    font-size: 1.25rem;
    color: var(--white-dim);
    text-decoration: none;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.Enlaces:hover {
    color: var(--gold);

    transition: all 0.3s ease-in-out;
    transform: scale(1.25);
}